.dev-icons-container {
  display: flex;
  align-items: center;
}

.dev-icons {
  display: flex;
  flex-direction: column;
}

.dev-icons h6 {
  text-align: center;
}

.link-item:not(:last-child)::after {
  margin-left: 10px;
  margin-right: 10px;
}


.link-item {
  margin: 0 10px;
}